.DS_Store
__pycache__/
.ipynb_checkpoints/
anaconda_projects/
backup/
dal.pdf

penrose_player/

# DEV/WIP notebooks
notebooks/*_DEV.ipynb

# LaTeX build artifacts
doc/*.aux
doc/*.log
doc/*.synctex.gz

